<br />
<div class="booyah-box col-10 offset-1">
<h1>Book an Appointment</h1>
<%= simple_form_for @patient do |f| %>
	<%= f.input :name %>
	<%= f.input :healthcardnumber %>
	<%= f.input :apptime %>

	<br />
	<%= f.submit 'Book', class: 'btn btn-primary' %>
	<br /><br /><br />
	<% end %>
</div>